*{
  box-sizing: border-box;
}

body {
  background-color: color #fffbf7;
  text-align: center;
  min-height: 100vh;
  margin: 0;
  display: block;
  box-sizing: border-box;
  overflow-x: hidden;
}

main {
  text-align: center;
  margin-top: 250px;
}

.header {
  padding-top: 10px;
  font-size: 0px;
  display: flex;
  position: fixed;
  top: 0;
  background-color: #fffbf7;
  width: 100%;
  z-index: 1;
}

.header>* {
  display: inline-block;
  font-size: 16px;
  vertical-align: middle;
  height: 100%;
  line-height: 45px;
}


h1 {
  color: #025157;
  font-family: fantasy;
  font-size: 60px;
  font-weight: 500;
  line-height: 70px;
  text-align: center;
  word-spacing: 0;
  display: block;
  transform: none;
}

h2{
  color: #343434;
  margin: 0;
  font-size: 30px;
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
}

h3{
  color: #025157;
  font-family: 'Alegreya', serif;
  font-size: 50px;
  line-height: 40px;
  font-weight: 500;
}

h4 {
  color: #46484c;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  margin-bottom: 30px;
}

p {
  color: #8b8b8bcc;
}


a {
  color: #025157;
  text-decoration: none;
  font-size: 20px;
}

form>a{
  color: #67b54b;
  text-decoration: none;
  font-weight: 700;
}

.logo {
  margin-left: 10px;
  width: 15%;
  align-content: center;
}

.logo>img {
  height: 100%;
}

li {
  display: inline;
  padding: 12px;
}

.actions, .actions:visited {
  text-align: center;
  color: #025157;
  font-weight: 500;
  display: inline;
  margin: auto;
}

input {
  border: 1px solid #b6b6b6;
  padding: 7px 20px;
  width: 60%;
  max-width: 260px;
  height: 100%;
  height: 40px;
  border-radius: 8px;
  margin-left: -10px;
}

form {
  height: 55px;
  margin-right: 10px;
}

.signupform{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2%;
}

.button{
  display: flex;
  justify-content: center;
  align-content: center;
  max-width: 800px;
  max-height: 100%;
  height: 70px;
  width: 500px;
}

.email{
justify-content: center;
display: inline;
max-width: 800px;
max-height: 100%;
height: 70px;
}

.buttontry {
  background-color: #025157;
  color: #FFFFFF;
  font-size: 16px;
  height: 100%;
  border-radius: 8px;
  border: none;
  box-sizing: border-box;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding: 9px 6px;
  margin-left: -10px;
}

.buttonfree {
  background-color: #67b54b;
  color: #FFFFFF;
  font-size: 16px;
  height: 100%;
  border-radius: 4px;
  border: none;
  box-sizing: border-box;
  padding: 20px 15px 20px 15px;
}


.banner {
  margin: 2%;
}


.intro {
  text-align: center;
  box-sizing: border-box;
  margin-top: 32px;
  margin-bottom: 16px;
}

figure.intro>img {
  width: 70%;
}

.freetrial {
  margin-bottom: 15px 0 16px 0;
  font-size: 20px;
}


.footer {
  display: flex;
  min-height: 50px;
}

.navbar {
  text-align: center;
  color: #025157;
  font-weight: 500;
}

.video {
  display: inline-flex;
  max-width: 70%;
  margin: 100px auto;
  align-items: center;
}


article{
  display: block;
  margin: 15px;
}

.videoprueba{
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.videoprueba > img{
  display: flex;
  position: relative;
  left: 4%;
  width: 40%;
  opacity: 80%;
}

.parrafovideo{
 flex: 1;
 text-align: left;
 box-sizing: border-box;
 width: 35%;
}

.parrafovideo p:nth-of-type(1) {
  font-size: 18px;
  color: #343434;
  line-height: 1.5;
  margin-bottom: 20px;
}

.blog-grid{
display: grid;
grid-template:repeat(2, 330px) / repeat(2, 1fr);
grid-column-gap: 2rem;
grid-row-gap: 2rem;
padding: 5% 10%;
justify-content: center;
}

.blog-grid a{
color: #67b54b;
text-decoration: none;
font-weight: 700;
}

.blog-grid p{
  font-size: 22px;
  color: #7e7e7e;
}

.box1{
background-color: white;
border-radius: 2%;
position: relative;
overflow: hidden;
display: flex;
}

.box2{
background-color: white;
border-radius: 2%;
position: relative;
overflow: hidden;
display: flex;
}

.box3{
background-color: white;
border-radius: 2%;
position: relative;
overflow: hidden;
display: flex;
}

.box4{
background-color: white;
border-radius: 2%;
position: relative;
overflow: hidden;
display: flex;
}

.imagen{
width: 350px;
height: 300px;
overflow-x: hidden;
}

._imagen img{
width: 150%;
height: 240px;
position: relative;
left: 3rem;
top: 1rem;
}


.contenido{
text-align: left;
margin: 3% -2rem 3% 3%;
margin-left: 25px;
}

.bloglogo > img{
width: 50px;
vertical-align: middle;
margin: 0 0 1rem 0;
}

.blogs{
  background-color: #025157;
  margin: 0 auto;
  padding: 10rem;
  overflow: hidden;
  padding: 30px 20px 40px 40px;
}

.ecommerce{
  height: 100vh;
  background-color: #a1d683;
  display:grid;
  grid-template-columns: 50% 50%;
}

.usematcha{
  background-color: #025157;
  color: #FFFFFF;
  font-size: 16px;
  border-radius: 8px;
  border: none;
  box-sizing: border-box;
  padding: 15px 10px;
}

.brands p:nth-of-type(2){
  color: #0f1111;
  font-size: 20px;
}