body{
  background-color: color #fffbf7;
  text-align: center;
  min-height: 100vh;
  margin: 0;
  display: block;
  box-sizing: border-box;
 }

 main{
   text-align: center;
 }

 .header{
  margin-top: 40px;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 0px;
  display: flex;
 }

 .header > * {
   display: inline-block;
   font-size: 16px;
   vertical-align: middle;
   height: 100%;
   line-height: 45px;
 }

h1 {
  color: #025157;
  font-family: "Alegreya", serif;
  font-size: 60px;
  font-weight: 500;
  line-height: 70px;
  text-align: center;
  word-spacing: 0;
  display: block;
  transform: none;
  }

h4{
  color: #46484c;
    font-family: "Slabo 27px", serif;
    font-size: 20px;
    margin-bottom: 30px;
  }

p{
  color: #8b8b8bcc;
}

.logo{
  width: 15%;
}

.logo > img {
height: 100%;
}

li{
  display: inline;
}

.actions{
  text-align: center;
  color: #025157;
  font-weight: 500;
  display: inline;
  margin-left: 20%;
  margin-right: 20%;
}


input{
    border: 1px solid #b6b6b6;
    padding: 6px 20px;
    width: 60%;
    max-width: 250px;
    height: 100%;
    border-radius: 8px;
    margin-left: -10px;
}

form{
  height: 55px;
  margin-right: 10px;
}

 .buttontry{
  background-color: #025157;
  color: #FFFFFF;
  height: 100%;
  border-radius: 8px;
  border: none;
  box-sizing: border-box;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding: 9px 6px;
  margin-left: -10px;
  }

  .btn-link:hover{
  background-color: #025157;
  color: #FFFFFF;
  border-radius: 5px;
  border: none;
  box-sizing: border-box;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding: 9px 6px;
  margin-left: -10px;
  }

.button{
    background-color: rgb(117, 177, 57);
  }

.banner{
    margin: 2%;
  }

.matchaimg{
  text-align: center;
  vertical-align: middle;
  display: inline;
  box-sizing: border-box;
  transform: none;
  }

.intro{
  text-align: center;
  margin: 32px 16px;
  display: block;
  transform: none;
  box-sizing: border-box;
}

.freetrial{
  margin-bottom: 10px;
}

.author{
    opacity: 60%;
    color: #025157;
  }

.footer{
    position: relative;
    min-height: 50px;
  }

.navbar{
  text-align: center;
  color: #025157;
  font-weight: 500;
  }

  .video{
    display: flex;
    margin: 20%;
  }

  .videoprueba{
    display: inline;
  }

  .parrafovideo{
    display: inline;
  }